# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
prod.Dockerfile
dev.Dockerfile
Dockerfile
.dockerignore
.gitignore
README.md

# Project artificats we don't want includd.
docs
bin
